<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC 패턴</title>
  </head>
  <body>
    <h1>🚨 404 Error</h1>
    <p>죄송합니다! 해당 URL은 접근할 수 없는 주소입니다.</p>
    <a href="/">HOME으로 이동하기</a>
  </body>
</html>
