@media (min-width: 500px) {
  /* viewport width가 500px 이상일 때 적용 */
  body {
    background-color: skyblue;
  }
}

@media (max-width: 300px) {
  /* viewport width가 480px 이상일 때 적용 */
  body {
    background-color: orange;
  }
  .change {
    font-style: italic;
  }
}

@media (min-height: 500px) {
  /* viewport width가 480px 이상일 때 적용 */
  .change {
    background-color: green;
  }
}

@media (max-height: 300px) {
  /* viewport width가 480px 이상일 때 적용 */

  .change {
    font-style: italic;
  }
}
