<header class="header">
  <ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/register">REGISTER</a></li>
    <li><a href="/sesac">SESAC</a></li>
  </ul>
</header>
