<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>파일 업로드</h1>
    <!-- multer(미들웨어)는 multipart가 아닌 폼에서는 동작하지 않음! enctype="multipart/form-data의 속성을 필수적으로 써줘야 함 -->
    <h2>Single file upload</h2>
    <p>하나의 인풋에 하나의 파일을 업로드</p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfile" /><br />
      <input type="text" name="title" /><br /><br />
      <button class="submit">업로드</button>
    </form>

    <h2>Multi file upload</h2>
    <p>하나의 인풋에 여러 개의 파일을 업로드</p>
    <form action="/upload/array" method="POST" enctype="multipart/form-data">
      <!-- 하나의 인풋에 여러 개의 파일을 업로드 -->
      <input type="file" name="userfiles" multiple /><br />
      <input type="text" name="title" /><br /><br />
      <button class="submit">업로드</button>
    </form>

    <h2>Multi file upload v2</h2>
    <p>여러 인풋에 각각의 파일을 업로드</p>
    <form action="/upload/fields" method="POST" enctype="multipart/form-data">
      <!-- 하나의 인풋에 여러 개의 파일을 업로드 -->
      <input type="file" name="userfile1" multiple /><br />
      <input type="text" name="title1" /><br /><br />
      <input type="file" name="userfile2" multiple /><br />
      <input type="text" name="title2" /><br /><br />
      <button class="submit">업로드</button>
    </form>

    <h2>동적 파일 업로드</h2>
    <input type="file" name="dynamicUserfile" id="dynamic-file" /><br />
    <button type="button" onclick="fileUpload()">업로드</button>
    <br />
    <!-- 업로드한 이미지를 보여줄 img 태그 요소 -->
    <img src="" alt="" width="200" />

    <script>
      function fileUpload() {
        console.log('동적 파일 업로드');
        // js 만으로 폼을 전송(파일데이터를 서버로 전송해야 하는 케이스)
        // FormData 객체를 활용하면 쉽게 전송 가능!
        const formData = new FormData(); //Formdata()
        const file = document.querySelector('#dynamic-file');
        console.dir(file);
        console.dir(file.files); // 업로드한 파일 객체
        console.dir(file.files[0]); // 업로드한 첫 파일

        // append(key, value)
        formData.append('dynamicUserfile', file.files[0]); // append 사용

        axios({
          method: 'post',
          url: '/dynamicFile',
          data: formData,
          header: {
            'Content-Type': 'multipart/form-data', //enctype = "multipart"/form-data에 해당
          },
          //   data: 백으로 보낼 데이터
        }).then((res) => {
          const { data } = res;
          // const { data: {path} } = res; 구조분해 한 번 더 가능
          console.log(data.path);
          console.log(document.querySelector('img'));
          document.querySelector('img').src = '/' + data.path;
        });
      }
    </script>
  </body>
</html>
