<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>파일 업로드</h1>
    <!-- multer(미들웨어)는 multipart가 아닌 폼에서는 동작하지 않음! enctype="multipart/form-data의 속성을 필수적으로 써줘야 함 -->
    <h2>Single file upload</h2>
    <p>하나의 인풋에 하나의 파일을 업로드</p>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfile" /><br />
      <input type="text" name="title" /><br /><br />
      <button class="submit">업로드</button>
    </form>

    <h2>Multi file upload</h2>
    <p>하나의 인풋에 여러 개의 파일을 업로드</p>
    <form action="/upload/array" method="POST" enctype="multipart/form-data">
      <!-- 하나의 인풋에 여러 개의 파일을 업로드 -->
      <input type="file" name="userfiles" multiple /><br />
      <input type="text" name="title" /><br /><br />
      <button class="submit">업로드</button>
    </form>

    <h2>Multi file upload v2</h2>
    <p>여러 인풋에 각각의 파일을 업로드</p>
    <form action="/upload/fields" method="POST" enctype="multipart/form-data">
      <!-- 하나의 인풋에 여러 개의 파일을 업로드 -->
      <input type="file" name="userfile1" multiple /><br />
      <input type="text" name="title1" /><br /><br />
      <input type="file" name="userfile2" multiple /><br />
      <input type="text" name="title2" /><br /><br />
      <button class="submit">업로드</button>
    </form>
  </body>
</html>
