<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC 패턴 실습</title>
  </head>
  <body>
    <img src="" alt="바다" />
    <a href="/">홈으로 이동하기</a>
    <ul>
      <% for (let info of information) { %>
      <li>
        <%= info.id %> -
        <a href="/info/<%=info.id%>">aaa</a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
