/* 주석(ctrl +/) */

*{
    /* *은 전체 선택자 */
    color:skyblue;
}
/* 태그명: 태그 선택자 */
h1{
    background-color: pink;
}
/* .클래스명: 클래스 선택자 */
.second{
    background-color: aquamarine;
}

.small{
    font-size: 10px;
}
.big{
    font-size: 50px;
}
/* #아이디명: 아이디 선택자 */
#first{
    background-color: lightgreen;
}

/* class, id 차이
- class: 그룹
- id: 고유

ex.
"student"라는 클래스 이름은 여러 요소에 사용될 수 있음
"teacher"라는 아이디 값은 함 요소에만 사용되어야 함

 */
