<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
  </head>
  <body>
    <h1>Hello! Express!!</h1>
    <p>안녕하세요~~~~</p>
    <% for (let i=0; i<5; i++) { %>
    <div>하이</div>
    <% } %>
    <a href="./login">로그인 </a>
    <a href="./register">회원가입 </a>
  </body>
</html>
