<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Socket 채팅</title>
  </head>
  <body>
    <h1>채팅</h1>

    <!-- 채팅 내역 -->
    <ul></ul>

    <!-- 채팅 인풋 -->
    <form id="chat">
      이름<input type="text" id="name" class="name" /><br />
      내용<input type="text" id="message" class="message" /><br />
      <button>전송</button>
    </form>

    <script>
      const socket = new WebSocket('ws://localhost:8080');
      // console.log(socket); // 클라이언트 소켓 객체

      const chatForm = document.querySelector('#chat'); // 폼 가져오기
      const ul = document.querySelector('ul'); // 채팅 내역을 보여주기 위한 ul 요소

      socket.addEventListener('open', (event) => {
        console.log('[서버 연결 완료]');
      });

      socket.addEventListener('close', (event) => {
        console.log('[서버 연결 종료]');
      });

      socket.addEventListener('message', (event) => {
        const data = JSON.parse(event.data);
        console.log(data);
        const { msg, name } = data;

        const li = document.createElement('li');
        li.textContent = `${name} 님 = ${msg}`;
        ul.appendChild(li);
      });

      socket.addEventListener('error', (error) => {
        console.log('오류 발생 ::', event.console.error);
      });

      chatForm.addEventListener('submit', (event) => {
        event.preventDefault();

        // input에 입력한 정보를 바탕으로 메세지 데이터 생성
        const msg = chatForm.querySelector('#message');
        const name = chatForm.querySelector('#name');
        const data = { msg: msg.value, name: name.value };
        console.log('보내려는 메세지 데이터 ::', data);

        // 메세지 데이터를 웹 소켓 서버로 전송
        // 웹 소켓 서버가 데이터를 쉽게 처리할 수 있도록
        // (웹 소켓 서버가 js 언어를 쓰지 않을 수 있으니)
        // JSON 형식의 텍스트 데이터로 변환(직렬화, serialize)에서 웹 서버로 전송
        socket.send(JSON.stringify(data));

        // input 초기화
        msg.value = '';
        name.value = '';
      });
    </script>
  </body>
</html>
