<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>폼</title>
  </head>
  <body>
    <h1>get으로 정보 받기</h1>
    <form action="/getForm" method="get">
      <h2>GET 요청</h2>
      <div><span>이름</span><input type="text" name="id" /></div>

      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" id="man" value="남자" /> 남자
        <input type="radio" name="gender" id="woman" value="여자" /> 여자
      </fieldset>
      <br />
      <fieldset>
        <legend>생년월일</legend>
        <select name="date1" placeholder="2010">
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option></select
        >년
        <select name="date2" placeholder="1">
          <% for (let i=1; i <= 12; i++){ %>
          <option value="1"><%=i%></option>
          <%}%> >월
        </select>
        <!-- select에는 name이, option에는 value가 -->

        <select name="date3" placeholder="1">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option></select
        >일
      </fieldset>
      <br />
      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="hobby" value="여행" />여행
        <input type="checkbox" name="hobby" value="패션" />패션
        <input type="checkbox" name="hobby" value="음식" />음식
        <!-- checkbox는 value가 함께 -->
      </fieldset>
      <br />
      <button>회원가입</button>
    </form>
  </body>
</html>
