<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/public/css/article.css" />
  </head>
  <body>
    <h1>폼 전송 결과</h1>
    <!-- 카테고리 -->
    <!-- 제목 -->
    <ul>
      <li>카테고리: <%= user.category %></li>
      <li>제목: <%= user.title %></li>
      <li>내용: <%= user.content %></li>
      <li>좋아하는 색상: <%= user.myColor%></li>
    </ul>
  </body>
</html>
