.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.test {
  width: 50vw;
  height: 5vh;
  background-color: rgb(241, 228, 213);
  color: rgb(228, 162, 40);
  font-size: x-large;
  margin: 0 auto;
}

input {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
}
.orange {
  background-color: orange;
  width: 100px;
  height: 200px;
}
.yellow {
  background-color: yellow;
  width: 100px;
  height: 300px;
}
.green {
  background-color: green;
  width: 100px;
  height: 400px;
}
.blue {
  background-color: blue;
  width: 100px;
  height: 500px;
}
.navy {
  background-color: navy;
  width: 100px;
  height: 600px;
}
.purple {
  background-color: purple;
  width: 100px;
  height: 700px;
}
