body {
  position: relative;
}

.body1 {
  width: 150px;
  height: 150px;
  background-color: brown;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 150px;
}

.eye-white {
  width: 65px;
  height: 65px;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 50%;
}

.eye-black {
  width: 30px;
  height: 30px;
  background-color: black;
  z-index: 5;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
}

.body2 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: blueviolet;
  z-index: 6;
  position: absolute;
  top: 180px;
  left: 250px;
}

.body3 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: red;
  z-index: 7;
  position: absolute;
  top: 200px;
  left: 350px;
}

.body4 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: orange;
  z-index: 8;
  position: absolute;
  top: 230px;
  left: 470px;
}

.body5 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: yellow;
  z-index: 9;
  position: absolute;
  top: 250px;
  left: 550px;
}

.body6 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: yellowgreen;
  z-index: 10;
  position: absolute;
  top: 260px;
  left: 650px;
}

.grass {
  position: absolute;
  width: 600px;
  top: 280px;
  left: 200px;
  z-index: 15;
}
