<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header><a href="/login">Login</a></header>
    <h1>์ค์ต. Session ์ฐ์ต</h1>
    <p>์ฌ๊ธฐ๋ Home ์๋๋ค!๐ก</p>
    <br />
    <p>๋ก๊ทธ์ธ์ ํ์๊น์ ์ํ์๊น์...</p>
  </body>
</html>
